<?xml version='1.0' encoding='utf-8'?>
<widget id="com.softsquare.balancecraze" android-packageName="com.softsquare.balancecraze" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BalanceCraze</name>
    <description>
        A fun and simple match-3 game about keeping healthy balance in your life.
    </description>
    <author email="squarella.contact@gmail.com" href="https://github.com/antoninastefanowska">
        SoftSquare
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="electron-settings.json" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
</widget>
